body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.first-white, .second-white, .third-white, .fourth-white {
	background-color: #fdf6ee;
}

.all {
	width: 341px;
	height: 341px;
	position: relative;
}

/* PARTIE TOP */
.top {
	width: 100%;
	height: 75%;
	border-bottom: 9px solid black;
}

.red {
	background-color: #c52c2e;
	width: 75%;
	height: 72.3%;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 9px solid black;
}

.first-white {
	border-bottom: 14px solid black;
}

.first-white, .second-white {
	width: 25%;
}

.first-white, .second-white {
	height: 50%;
}

/* PARTIE BOTTOM */

.bottom {
	height: 25%;
	position: relative;
}


.blue {
	background-color: #435d98;
	height: 100%;
	width: 27.7%;
	border-right: 9px solid black;
}

.third-white {
	border-right: 9px solid black;
	height: 100%;
	width: 68%;
	margin-left: 27.7%;
	position: absolute;
	top: 0;
}

.fourth-white {
	position: absolute;
	top: 0;
	right: 0;
	width: 5%;
}

.yellow {
	width: 5%;
	background-color: #fde500;
	border-top: 9px solid black;
	position: absolute;
	bottom: 0;
	right: 0;
}

.fourth-white, .yellow {
	height: 50%;
}